<a href="https://colab.research.google.com/github/Tini-j-Mercy/Tini-j-Mercy/blob/main/Untitled17.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

WEATHER PREDICTION USING NAIVE BAYES IN MACHINE LEARNING

In [66]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.naive_bayes import GaussianNB
df=pd.read_csv('/content/archive.zip')
df

     Outlook Temperature Humidity   Windy Play
0      Sunny         Hot     High    Weak   No
1      Sunny         Hot     High  Strong   No
2   Overcast         Hot     High    Weak  Yes
3       Rain        Mild     High    Weak  Yes
4       Rain        Cool   Normal    Weak  Yes
5       Rain        Cool   Normal  Strong   No
6   Overcast        Cool   Normal  Strong  Yes
7      Sunny        Mild     High    Weak   No
8      Sunny        Cool   Normal    Weak  Yes
9       Rain        Mild   Normal    Weak  Yes
10     Sunny        Mild   Normal  Strong  Yes
11  Overcast        Mild     High  Strong  Yes
12  Overcast         Hot   Normal    Weak  Yes
13      Rain        Mild     High  Strong   No

In [67]:
#Encoding the strings to Numericals
Numerics=LabelEncoder()

In [68]:
#Dropping the target variable and make it is as newframe
inputs=df.drop('Play',axis='columns')
target=df['Play']
target

0      No
1      No
2     Yes
3     Yes
4     Yes
5      No
6     Yes
7      No
8     Yes
9     Yes
10    Yes
11    Yes
12    Yes
13     No
Name: Play, dtype: object

In [69]:
#Creating the new dataframe
inputs['outlook_n']=Numerics.fit_transform(inputs['Outlook'])
inputs['Temperature_n']=Numerics.fit_transform(inputs['Temperature'])
inputs['Humidity_n']=Numerics.fit_transform(inputs['Humidity'])
inputs['windy_n']=Numerics.fit_transform(inputs['Windy'])
inputs

,Outlook,Temperature,Humidity,Windy,outlook_n,Temperature_n,Humidity_n,windy_n
0,Sunny,Hot,High,Weak,2,1,0,1
1,Sunny,Hot,High,Strong,2,1,0,0
2,Overcast,Hot,High,Weak,0,1,0,1
3,Rain,Mild,High,Weak,1,2,0,1
4,Rain,Cool,Normal,Weak,1,0,1,1
5,Rain,Cool,Normal,Strong,1,0,1,0
6,Overcast,Cool,Normal,Strong,0,0,1,0
7,Sunny,Mild,High,Weak,2,2,0,1
8,Sunny,Cool,Normal,Weak,2,0,1,1
9,Rain,Mild,Normal,Weak,1,2,1,1
10,Sunny,Mild,Normal,Strong,2,2,1,0
11,Overcast,Mild,High,Strong,0,2,0,0
12,Overcast,Hot,Normal,Weak,0,1,1,1
13,Rain,Mild,High,Strong,1,2,0,0

In [70]:
#Dropping the string values
inputs_n=inputs.drop(['Outlook','Temperature','Humidity','Windy'],axis='columns')
inputs_n

    outlook_n  Temperature_n  Humidity_n  windy_n
0           2              1           0        1
1           2              1           0        0
2           0              1           0        1
3           1              2           0        1
4           1              0           1        1
5           1              0           1        0
6           0              0           1        0
7           2              2           0        1
8           2              0           1        1
9           1              2           1        1
10          2              2           1        0
11          0              2           0        0
12          0              1           1        1
13          1              2           0        0

In [71]:
#Applying the Gaussian naivebayes
Classifier=GaussianNB()
Classifier.fit(inputs_n,target)

GaussianNB()

In [72]:
#92% accuracy 
Classifier.score(inputs_n,target)

0.9285714285714286

In [74]:
Classifier.predict([[2,1,0,1,]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but GaussianNB was fitted with feature names
  "X does not have valid feature names, but"

array(['No'], dtype='<U3')